absl-py==0.9.0
certifi==2019.11.28
cycler==0.10.0
decorator==4.4.1
grpcio==1.26.0
h5py==2.10.0
imageio==2.6.1
joblib==0.14.1
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.2
networkx==2.4
numpy==1.18.1
Pillow==6.2.1
protobuf==3.11.2
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
sklearn==0.0
specpy==1.2.1
tensorboard==1.14.0
# NOTE: download these from website
#torch==1.3.1
#torchvision==0.4.2
tqdm==4.41.1
Werkzeug==0.16.0
wincertstore==0.2
